* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  overflow-y: visible;
}
.header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: tomato;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh);
  padding: 10px;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

h3.error {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-person {
  width: 90%;
  height: 500px;
  max-height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 450px;
  /* background-color: #ff2; */
  margin: 20px 20px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.card-person:last-child {
  margin-bottom: 120px;
}
.card-person:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: all 1s linear;
}
.card-person h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: tomato;
}
.image-person-card {
  width: 90%;
  height: 70%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
.Modal-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}
div.modal {
  width: 100%;
  max-width: 500px;
  min-height: fit-content;
  display: flex;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  /* position: fixed; */
  overflow: scrool;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
  max-height: auto;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #999;
  margin: 5px 0 5px 0;
}
.modal h2,
h4 {
  margin: 10px 30px;
}
.modal img {
  width: 100%;
  height: 200px;
}
.modal p {
  margin: 3px 50px;
}
.modal p span {
  color: tomato;
  margin-left: 5px;
}
.planet-info {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  border-bottom: 1px solid #999;
}
.planet-info:last-child {
  border-bottom: 0;
}
.planet-info p {
  margin: 5px 0 5px 50px;
}
.planet-info p span {
  color: tomato;
  margin-left: 5px;
}
.button-botttom {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background-color: tomato;
  opacity: 0.2;
}
.button-botttom button {
  width: 150px;
  height: 47px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  color: black;
  font-size: 1em;
}
.button-botttom:hover {
  height: 100px;
  transition: all 0.5s ease;
  opacity: 1;
}
